html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  user-select: none;
}

a {
  color: inherit;
}

p {
  font-family: serif;
  color: #f7e5d9;
  width: 87%;
  font-size: 1.3vw;
}

.paragraph-container li, .paragraph-container ul{
  font-family: serif;
  color: #f7e5d9;
  width: 87%;
  font-size: 1.3vw;
}

h4 {
  font-family: CustomSerif;
  color: #f7e5d9;
  font-size: 1.3vw;
}

h2 {
  font-family: CustomSerif;
  color: #f7e5d9;
  width: 87%;
  font-size: 1.9vw;
}

* {
  box-sizing: border-box;
}

input, select, textarea {
  font-size: 16px;
}

.countdown-container {
  width: 100%;
  text-align: center;
}

.countdown-text {
  margin: 0;
  color: #f7e5d9;
  font-family: CustomSerif;
  font-size: 1.3vw;
}

.home-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-image: url("../public/upper-right-corner-background.png"), url("../public/bottom-left.png");
  background-position: right top, left bottom;
  background-attachment: fixed;
  background-size: 25vh;
  background-repeat: no-repeat;
  background-color: #d6b69d;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.top-left-container {
  padding: 5px;
  top: 0;
  left: 0;
  width: 15vw;
  text-align: center;
}

.top-left-text {
  font-family: CustomFancy;
  font-size: 2.7vw;
  font-weight: 100;
  color: #f7e5d9;
  margin-bottom: 5px;
}

.sidebar-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 15vw;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,0);
}

.timeline-text {
  text-align: center;
}

.continued-text {
  margin-top: 0;
}

.bottom-text {
  margin-bottom: 5px;
}

.payment-image-container {
  margin-top: 20px;
  margin-bottom: 5px;
  width: 40%;
  height: auto;
}

.venmo-image-container {
  width: 40%;
  height: auto;
  margin-top: 10px;
}

.flex-container {
  width: 87%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.payment-image {
  width: 100%;
  height: 100%;
}

.timeline-div {
  background-color: #f7e5d9;
  height: 5vh;
  width: 1px;
}

.timeline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 87%;
}

.layout-container {
  position: absolute;
  top: 0;
  left: 15vw;
  width: 85vw;
  height: 100vh; 
  padding-left: 5vw;
  padding-right: 5vw;
  scroll-behavior: smooth;
  overflow-y: auto;
}

.layout {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.marker {
  height: 0;
  width: 100%;
}

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 5vw;
  padding-right: 5vw;
}

.first-page-top {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

.first-page-bottom {
  margin-top: 5vh;
  display: flex;
  width: 100%;
}

.first-page-image-container {
  padding-top: 3%;
  height: 100%;
  width: 45%;
}

.first-page-text-container {
  height: 100%;
  text-align: center;
  margin-left: -7vw;
  overflow: wrap;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.first-page-title-container {
  height: 100%;
  width: 100%;
  text-align: center;
  padding-right: 5vw;
}

.first-page-text {
  font-family: CustomSerif;
  font-size: 9vw;
  margin: 0;
  font-weight: 100;
  color: #f7e5d9;
}

.first-page-title {
  font-family: CustomSerif;
  font-size: 4vw;
  font-weight: 100;
  color: #f7e5d9;
  margin: 0;
}

.second-page {
  display: flex;
  height: 100%;
  width: 100%;
}

.margin-page {
  height: 10vh;
  flex: 0 0 100%;
}

.divider-page {
  min-height: 0;
  border-bottom: 1px solid #f7e5d9;
  flex: 0 0 100%;
}

.second-page-left-container {
  display: flex;
  height: 100%;
  width: 55%;
  flex-direction: column;
  text-align: center;
}

.second-page-right-container {
  display: flex;
  height: 100%;
  width: 44%;
  flex-direction: column;
}

.second-page-text1 {
  font-family: CustomSerif;
  font-size: 3vw;
  margin: 0;
  margin-bottom: 2vh;
  font-weight: 100;
  color: #f7e5d9;
}

.address-text {
  font-family: CustomSerif;
  font-size: 2vw;
  margin: 0;
  margin-bottom: 3vh;
  font-weight: 100;
  color: #f7e5d9;
}

.second-page-text2 {
  font-family: CustomSerif;
  font-size: 3vw;
  margin: 0;
  margin-top: 5vh;
  margin-left: 2vw;
  font-weight: 100;
  color: #f7e5d9;
}

.third-page-title {
  font-family: CustomSerif;
  font-size: 4vw;
  font-weight: 100;
  color: #f7e5d9;
  margin: 0;
}
.third-page {
  display: flex;
  flex-direction:column;
  text-align: left;
}

.third-page-images{
  width: 75%;
  margin: auto;
  margin-left: 0;
}

.row-container {
  position: relative;
  float: left;
  width: 33.33%;
  padding: 0px;
  display: inline-block;
  z-index: 10;
}

.text-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-container .row-containerText {
  visibility: hidden;
  color: #f7e5d9;
  text-align: center;
  border-radius: 6px;
  z-index: 100;
  font-size: 5vw;
 
  font-family: "montage";
  /* Position the tooltip text - see examples below! */
  position: absolute;
}

.row-container:hover .row-containerText {
  visibility: visible;
}

.row-container:hover .row-image{
  opacity: 0.3;
}

.paragraph-container {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.paragraph-container h2 {
  text-align: center;
}

.paragraph-image-container {
  width: 87%;
  margin-top: 30px;
}

@font-face {
  font-family: CustomSerif;
  src: url("fonts/serif.otf") format("opentype");
}

@font-face {
  font-family: CustomFancy;
  src: url("fonts/dhenmark.ttf") format("opentype");
}


.item-container {
  width: 100%;
  background-color: rgba(0,0,0,0);
  cursor: pointer;
  margin-left: 4vw;
  margin-right: 4vw;
  outline-style:none;
  margin-top: 2vh;
}

.item-container:hover {
  opacity: 0.6;
}

.item-text {
  color: #f7e5d9;
  font-family: CustomSerif;
  font-size: 1.4vw;
  user-select: none;
}

.sidebar {
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0);
}


.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 5rem;
}

.complete-container {
  position: fixed;
  height: 100%;
  width: 100%;
}

.mobile-sidebar {
  display: none;
}

.mobile-button {
  display: none;
}

.background-image {
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: url("../public/password-background.jpg");
  background-size: cover; /* or contain depending on what you want */
  background-position: bottom center;
  background-repeat: no-repeat;
  z-index: 1;
}

.password-div {
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.password-entry {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 6px;
  height: 32px;
  width: 200px;
  font-size: 1rem;
  text-align: center;
  font-family: 'montage';
  color: #f3e5da;
  background-color: #d6b69d;
  border-radius: 10rem;
  border: 1px solid #d6b69d;
  z-index: 100;
}

.password-entry:focus {
  outline-width: 0;
}

.enter-button {
  cursor: pointer;
  width: 200px;
  font-size: 1.5rem;
  text-align: center;
  font-family: 'montage';
  color: #f3e5da;
  background-color: #d6b69d;
  border-radius: 10rem;
  border: 1px solid #d6b69d;
  z-index: 100;
}

.main-image {
  border-radius: 1rem;
  height: 300;
  width: 300; 
  overflow: hidden;
}

.searchable-dropdown-list-container {
  position: relative;
  width: 100%;
  z-index: 100;
  height: auto;
  max-height: 35vh;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
}

.searchable-dropdown-list {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 3vw;
}

.searchable-dropdown-list li, .search-bar, .rsvp-input {
  border: 1px solid #8C6F55; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  display: block; /* Make it into a block element to fill the whole list */
  width: 100%;
  height: 3vw;
}

.searchable-dropdown-list li, .search-bar {
  background-color: #e2c9b4;
}

.rsvp-input {
  background-color: #d6b69d;
}


.search-bar {
  position: absolute;
  width: 61.75%;
  z-index: 110;
  margin-top: 0;
  border-bottom: 2px solid #8C6F55; 
  font-size: 0.8vw;
  color: #8C6F55; /* Add a #8C6F55 text color */
  font-family: CustomSerif !important;
}

.search-bar::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #8C6F55;
  opacity: 1; /* Firefox */
}

.rsvp-input {
  margin-top: 0;
  font-size: 0.8vw;
  color: #8C6F55; /* Add a #8C6F55 text color */
  font-family: CustomSerif !important;
}

.rsvp-button {
  border: 1px solid #8C6F55; /* Add a border to all links */
  background-color: #d6b69d;
  display: block; /* Make it into a block element to fill the whole list */
  width: 100%;
  height: 3vw;
  margin-top: 35px;
  font-size: 0.8vw;
  color: #8C6F55; /* Add a #8C6F55 text color */
  font-family: CustomSerif !important;
  cursor: pointer;
}

.rsvp-button:hover {
  background-color: #f7e5d9;
}

.rsvp-button:disabled {
  opacity: 0.3;
  cursor: inherit;
  background-color: inherit;
}

.top {
  margin-top: 0 !important;
}

.search-bar:focus {
  outline-width: 0;
}

.searchable-dropdown-list li:hover:not(.header) {
  background-color: #b99d83;
}

.rsvp-container {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 70%;
}

.rsvp-title {
  float: center;
  color: #8C6F55;
  font-family: CustomSerif !important;
  font-size: 1.8vw;
  font-weight: bold;
}

.rsvp-title .joining {
  padding-left: 0.4em;
  font-size: 2.6vw;
  font-family: CustomFancy !important;
}

.rsvp-title .question-mark {
  padding-left: 0.3em;
  font-size: 2vw;
  font-family: CustomFancy !important;
}

.vert-line {
  background-color: #8C6F55;
  height: 10vh;
  width: 1px;
}

.rsvp-label {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 0.4em;
  font-size: 0.8vw;
  font-style: italic;
  color: #8C6F55;
  font-family: CustomSerif !important;
}

.searchable-dropdown-container, .searchable-dropdown-input {
  background-color: rgba(0,0,0,0);
  overflow: visible;
  width: 100%;
  height: 3vw;
  border: none;
  font-size: 0.8vw;
  cursor: pointer;
  font-family: CustomSerif !important;
}

.searchable-dropdown-input {
  border: 1px solid #8C6F55;
  color: #8C6F55;
}

.rsvp-overall-container {
  margin-top: 10vh;
  margin-bottom: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centering-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.centering-div p {
  padding: 0;
  margin: 0;
  font-size: 0.8vw;
  color: #8C6F55; /* Add a #8C6F55 text color */
  font-family: CustomSerif !important;
}

.full-width {
  width: 100%;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.no-search {
  padding-top: 0 !important;
}

.no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: text;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-select:focus {
  outline: none !important;
}

.ie-text {
  z-index: 1000;
  background-color: #d6b69d;
  text-align: center;
  border-radius: 10px;
  padding: 10px
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .third-page-images{
    width: 100%;
    margin: auto;
  }

  .home-container {
    background-image: none;
  }

  .page {
    padding: 0px 0px 0px 0px;
  }

  .home-container{
    background-size: 25%;
  }

  .sidebar-container {
    display: none;
  }

  .mobile-break {
    display: none;
  }

  .layout-container {
    left: auto;
    width: 100%;
  }

  .first-page-top {
    margin: 0;
  }

  .first-page-image-container {
    width: 90%;
  }

  .first-page-text {
    font-size: 15vw;
  }

   /* DATE*/
  .first-page-bottom {
    padding-right: 0;
  }

  .timeline-container {
    width: 100%;
  }

  /* THE WEDDING OF B & E */
  .first-page-title {
    font-size: 7.5vw;
  }
  
  .margin-page {
    min-height: 5vh;
  }

  .paragraph-image-container {
    width: 100%;
  }

  .countdown-text {
    font-size: 2.5vw;
  }

  /* PAGE TWO */
  .second-page {
    margin-left: 5vw;
  }

  .second-page-left-container {
    flex-grow: 2;
  }

  .second-page-right-container {
    flex-grow: 3;
  }

  /* SHORELINE, WA */
  .second-page-text1 {
    font-size: 4vw;
    margin-bottom: 1.5vh;
  }

  .address-text {
    font-size: 3.5vw;
    margin-bottom: 2vh;
  }
  
  .second-page-image-container2 {
    width: 80%;
  }

  /*THE DAY*/  
  .second-page-text2 {
    font-size: 6vw;
    margin-top: 7vw;
  }

  .third-page-title {
    font-size: 6vw;
  }

  p {
    font-family: "Garamond", serif;
    color: #f7e5d9;
    font-size: 4vw;
    width: 100%;
  }


  h4 {
    font-size: 4vw;
  }

  h2 {
    width: 100%;
    font-size: 5vw;
  }

  .paragraph-container li, .paragraph-container ul{
    font-size: 4vw;
    width: 100%;
  }

  .paragraph-container {
    margin-top: 0vh;
  }

  .mobile-button {
    height: 80px;
    width: 100vw;
    align-items: center;
    position: sticky;
    display: flex;
    background-color: #d6b69d;
    z-index: 1000;
  }

  .mobile-sidebar {
    position: absolute;
    top: -100vh;
    min-height: 100vh;
    min-width: 100%;
    background-color: #d6b69d;
    z-index: 1100;
    display: flex;
    flex-direction: column;
    transition: top 0.6s, opacity 0.6s;
  }

  .mobile-sidebar-container {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 50%
  }

  .marker {
    position: relative;
    top: -10vh;
  }
  
  .item-container {
    text-align: center;
    margin-bottom: 8vh;
  }

  .flex-container {
    width: 100%;
  }

  .payment-image-container {
    margin-top: 30px;
    width: 85%;
  }
  
  .venmo-image-container {
    width: 80%;
    margin-top: 10px;
  }

  .item-text {
    font-size: 5vw;
  }

  .mobile-icon:active {
    opacity: .5;
  }

  .x {
    margin-top: 2vh;
  }

  .mobile-break {
    height: 80px;
  }

  .mobile-icon {
    height: 50px;
    width: 50px; 
    margin-left: 4vw;
  }

  .searchable-dropdown-list li, .search-bar, .rsvp-input, .rsvp-button {
    height: 12vw;
  }

  .searchable-dropdown-list {
    padding-top: 12vw;
  }

  .search-bar {
    font-size: 4vw;
    width: 90%;
  }

  .rsvp-input, .rsvp-button {
    font-size: 4vw  ;
  }

  .rsvp-container {
    width: 100%;
  }

  .rsvp-title {
    font-size: 5.5vw;
  }

  .rsvp-title .joining {
    padding-left: 0.3em;
    font-size: 7.0vw;
  }
  
  .rsvp-title .question-mark {
    padding-left: 0.2em;
    font-size: 6.7vw;
  }

  .rsvp-label {
    margin-top: 20px;
    margin-bottom: 0.4em;
    font-size: 3vw;
  }

  .searchable-dropdown-container, .searchable-dropdown-input {
    height: 12vw;
    font-size: 4vw;
  }

  .centering-div p {
    font-size: 4vw;
  }

  .rsvp-overall-container {
    margin-top: 0;
  }

}

.row {
  display: flex;
}

.col {
  flex: 1 0 auto;
} 

:root {
  --toastify-color-light: #e2c9b4;
  --toastify-color-success: #8C6F55;
  --toastify-color-warning: #8C6F55;
  --toastify-color-error: #8C6F55;
  --toastify-toast-background: #e2c9b4;
  --toastify-text-color-light: #8C6F55;
}
