html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-family: "Garamond", serif;
  color: #f7e5d9;
  font-size: 1.3vw;
}

* {
  box-sizing: border-box;
}

input, select, textarea {
  font-size: 16px;
}

.countdown-container {
  width: 100%;
  background-color: #d6b69d;
  text-align: center;
}

.countdown-text {
  margin: 0;
  color: #f7e5d9;
  font-family: CustomSerif;
  font-size: 1.3vw;
}


.home-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #d6b69d;
  overflow: hidden;
}

.top-left-container {
  padding: 5px;
  top: 0;
  left: 0;
  width: 15vw;
  text-align: center;
}

.top-left-text {
  font-family: CustomFancy;
  font-size: 2.7vw;
  font-weight: 100;
  color: #f7e5d9;
}

.sidebar-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 15vw;
  height: 100vh; 
  display: flex;
  flex-direction: column;
}

.layout-container {
  position: absolute;
  top: 0;
  left: 15vw;
  width: 85vw;
  height: 100vh; 
  padding-left: 5vw;
  padding-right: 5vw;
  overflow-y: auto;
  scroll-behavior: smooth;
}


.layout {
  height: 100%;
  width: 100%;
  background-color: #d6b69d;
  display: flex;
  flex-direction: column;
}

.marker {
  height: 0;
  width: 100%;
}

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 5vw;
  padding-right: 5vw;
}

.first-page-top {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

.first-page-bottom {
  margin-top: 5vh;
  display: flex;
  width: 100%;
}

.first-page-image-container {
  padding-top: 3%;
  height: 100%;
  width: 45%;
}

.first-page-text-container {
  height: 100%;
  text-align: center;
  margin-left: -7vw;
  overflow: wrap;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.first-page-title-container {
  height: 100%;
  width: 100%;
  text-align: center;
  padding-right: 5vw;
}

.first-page-text {
  font-family: CustomSerif;
  font-size: 9vw;
  margin: 0;
  font-weight: 100;
  color: #f7e5d9;
}

.first-page-title {
  font-family: CustomSerif;
  font-size: 4vw;
  font-weight: 100;
  color: #f7e5d9;
  margin: 0;
}

.second-page {
  display: flex;
  height: 100%;
  width: 100%;
}

.margin-page {
  min-height:10vh;
  min-width: 100%;
}

.divider-page {
  min-height: 0;
  border-bottom: 1px solid #f7e5d9;
  min-width: 100%;
}

.second-page-left-container {
  display: flex;
  height: 100%;
  width: 55%;
  flex-direction: column;
  text-align: center;
}

.second-page-right-container {
  display: flex;
  height: 100%;
  width: 44%;
  flex-direction: column;
}

.second-page-text1 {
  font-family: CustomSerif;
  font-size: 2vw;
  margin: 0;
  margin-bottom: 3vh;
  font-weight: 100;
  color: #f7e5d9;
}

.second-page-text2 {
  font-family: CustomSerif;
  font-size: 3vw;
  margin: 0;
  margin-top: 5vh;
  margin-left: 2vw;
  font-weight: 100;
  color: #f7e5d9;
}

.third-page-title {
  font-family: CustomSerif;
  font-size: 4vw;
  font-weight: 100;
  color: #f7e5d9;
  margin: 0;
}
.third-page {
  display: flex;
  flex-direction:column;
  text-align: left;
}

.third-page-images{
  width: 75%;
  margin: auto;
  margin-top: 45px;
}

.row-container {
  position: relative;
  float: left;
  width: 33.33%;
  padding: 0px;
  display: inline-block;
  border-bottom: 1px dotted black;
  z-index: 10;
}

.text-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-container .row-containerText {
  visibility: hidden;
  color: #f7e5d9;
  text-align: center;
  border-radius: 6px;
  z-index: 100;
  font-size: 5vw;
 
  font-family: "montage";
  /* Position the tooltip text - see examples below! */
  position: absolute;
}

.row-container:hover .row-containerText {
  visibility: visible;
}

.row-container:hover .row-image{
  opacity: 0.3;
}

@font-face {
  font-family: CustomSerif;
  src: url("fonts/serif.otf") format("opentype");
}

@font-face {
  font-family: CustomFancy;
  src: url("fonts/dhenmark.ttf") format("opentype");
}


.item-container {
  width: 100%;
  background-color: #d6b69d;
  cursor: pointer;
  margin-left: 4vw;
  margin-right: 4vw;
  outline-style:none;
  margin-top: 2vh;
}

.item-container:hover {
  opacity: 0.6;
}

.item-text {
  color: #f7e5d9;
  font-family: CustomSerif;
  font-size: 2vw;
  user-select: none;
}

.sidebar {
  height: 100%;
  width: 100%;
  background-color: #d6b69d;
}


.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 5rem;
}

.complete-container {
  position: fixed;
  height: 100%;
  width: 100%;
}

.background-image {
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: url("../public/password-background.jpg");
  background-size: cover; /* or contain depending on what you want */
  background-position: bottom center;
  background-repeat: no-repeat;
  z-index: 1;
}

.password-div {
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.password-entry {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 6px;
  padding-right: 6px;
  height: 32px;
  width: 200px;
  font-size: 1rem;
  text-align: center;
  font-family: 'montage';
  color: #f3e5da;
  background-color: #d1b7a0;
  border-radius: 10rem;
  border: 1px solid #d1b7a0;
  z-index: 100;
}

.password-entry:focus {
  outline-width: 0;
}

.enter-button {
  cursor: pointer;
  width: 200px;
  font-size: 1.5rem;
  text-align: center;
  font-family: 'montage';
  color: #f3e5da;
  background-color: #d1b7a0;
  border-radius: 10rem;
  border: 1px solid #d1b7a0;
  z-index: 100;
}

.main-image {
  border-radius: 1rem;
  height: 300;
  width: 300; 
  overflow: hidden;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
