@import "main.module.css";

.homeContainer {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #d6b69d;
  overflow: hidden;
}

.topLeftContainer {
  padding: 5px;
  top: 0;
  left: 0;
  width: 15vw;
  text-align: center;
}

.topLeftText {
  font-family: CustomFancy;
  font-size: 2.7vw;
  font-weight: 100;
  color: #f7e5d9;
}

.sidebarContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 15vw;
  height: 100vh; 
  display: flex;
  flex-direction: column;
}

.layoutContainer {
  position: absolute;
  top: 0;
  left: 15vw;
  width: 85vw;
  height: 100vh; 
  padding-left: 5vw;
  padding-right: 5vw;
  overflow-y: auto;
}
