@import "main.module.css";

.homeContainer {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #d6b69d;
}

.topImageContainer {
  position: absolute;
  padding: 5px;
  top: 0;
  left: 0;
  width: 30vh;
  height: 30vh;
  overflow: hidden;
  border-right: 1px solid #f7e5d9;
}

.sidebarContainer {
  position: absolute;
  top: 30vh;
  left: 0;
  width: 30vh;
  height: 70vh; 
  overflow: hidden;
  border-right: 1px solid #f7e5d9;
}
