.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 5rem;
}

.homeContainer {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #d1b7a0;
}

.completeContainer {
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: url("../public/password-background.jpg");
  background-size: cover; /* or contain depending on what you want */
  background-position: bottom center;
  background-repeat: no-repeat;
}

.passwordDiv {
  margin-bottom: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
  padding-bottom: 1rem;
}

.navContainer {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

.mainImage {
  border-radius: 1rem;
  height: 300;
  width: 300; 
  overflow: hidden;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
