@import "Main.module.css";

.layout {
  height: 100%;
  width: 100%;
  background-color: #d6b69d;
  display: flex;
  flex-direction: column;
}

.marker {
  height: 0;
  width: 100%;
}

.page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  padding-left: 5vw;
  padding-right: 5vw;
}

.firstPageTop {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.firstPageBottom {
  margin-top: 5vh;
  display: flex;
  width: 100%;
}

.firstPageImageContainer {
  height: 100%;
  width: 45%;
}

.firstPageTextContainer {
  height: 100%;
  text-align: center;
  overflow: wrap;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.firstPageTitleContainer {
  height: 100%;
  width: 100%;
  text-align: center;
  padding-right: 5vw;
}

.firstPageText {
  font-family: CustomSerif;
  font-size: 9vw;
  margin: 0;
  font-weight: 100;
  color: #f7e5d9;
}

.firstPageTitle {
  font-family: CustomSerif;
  font-size: 4vw;
  font-weight: 100;
  color: #f7e5d9;
  margin: 0;
}

.secondPage {
  display: flex;
  height: 100%;
  width: 100%;
}

.marginPage {
  min-height: 10vh;
  min-width: 100%;
}

.secondPageLeftContainer {
  display: flex;
  height: 100%;
  width: 55%;
  flex-direction: column;
  text-align: center;
}

.secondPageRightContainer {
  display: flex;
  height: 100%;
  width: 44%;
  flex-direction: column;
}

.secondPageText1 {
  font-family: CustomSerif;
  font-size: 2vw;
  margin: 0;
  font-weight: 100;
  color: #f7e5d9;
}

.secondPageText2 {
  font-family: CustomSerif;
  font-size: 3vw;
  margin: 0;
  margin-top: 5vh;
  margin-left: 2vw;
  font-weight: 100;
  color: #f7e5d9;
}

