@import "Main.module.css";

.itemContainer {
  width: 100%;
  background-color: #d6b69d;
  cursor: pointer;
  margin-left: 4vh;
  margin-right: 4vh;
}

.itemContainer:hover {
  opacity: 0.6;
}

.itemText {
  color: #f7e5d9;
  font-family: CustomSerif;
  font-size: 1.6vw;
}

.sidebar {
  height: 100%;
  width: 100%;
  background-color: #d6b69d;
}